// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.month {
  text-align: center;
}

div.actions {
  text-align: center;
  margin: 2px 0;
  div.form-group {
    padding: 0 15px;
  }
}

table.datalist {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

span.sun {
  color: red;
}
span.sat {
  color: blue;
}

hr.separator {
  margin: 10px 0;
}

div.month-nav > form.button_to {
  display: inline;
  align-items: center;
}

div.bgh-events-outer, div.bgh-events-button-footer {
  width: 80%;
}

@media only screen and (max-width:649px) {
  hr.separator {
    margin: 2px 0;
  }

  div.bgh-event-day {
    padding: 7px;

    div.bgh-events {
      padding-top: 3px;
    }
  }
}

table.datalist {
  width: 80%;
}

table.datalist, table.datalist td, table.datalist th {
  table-layout: fixed;
  div.bgh-event-day {
    width: 100%;
    text-align: center;
  }
}

table.datalist th {
  text-align: center;
}
