// Place all the styles related to the event_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-group .btn-primary {
  margin: 0 5px;
}

div.bgh-event-report-preview {
  float: left;

  h3 {
    font-size: 150%;
    margin: 5px 0;
    white-space: nowrap;
  }

  img.event_photo {
    float: none;
    width: 100%;
    object-fit: fill;
  }

  div.photo-and-title {
    position: relative;

    div.leaf-title {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      float: none;
      border-radius: 6px 6px 0 0;

      span.title h3 {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  div.leaf {
    border-radius: 0 0 6px 6px;
    width: 100%;
    div.comment, div.event-info {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

}

@media only screen and (max-width:649px) {
  div.leaf {
    width: 90%;
  }
}

div.author-info {
  display: block;
  float: right;
  margin-top: 20px;
  img {
    max-width: 100px;
  }
}

div.comment {
  padding-top: 15px;
  float: left;
}

div.already-uploaded-photos {
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;

  img {
    width: 100px;
    margin-top: 3px;
    &:not(:first-child) {
      margin-left: 3px;
    }
  }

  label.uploaded-photos-cap {

  }
}

div.action {
  margin-top: 10px;
}
