.contents {
  margin-top: 5px;
}

aside {
  margin-top: 40px;

  div.user-info {
    border: 1px solid #ddd;
    padding: 10px 7px;
    img.user-image {
      width: 80px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

div.main > h3 {
  text-align: center;
  padding: 3px 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

div.grid-item.home-digest {
  width: 250px;
}

div.grid-item.grid-item--2x.home-digest {
  width: 300px;
}
