.grid-item {
  min-width: 200px;
}

div.place-grid {
  position: relative;
  float: left;

  div.place-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    float: none;
    width: 100%;
  }
}

table.bgh-place-event-schedule {
  th.bgh-place-event-none {
    border-top: none !important;
    border-left: none !important;
  }
}
