.place-grid.grid-item {
  width: 200px;
}


div.place-grid {
  position: relative;
  float: left;
  padding: 10px;

  img.place-thumbnail {
    width: 200px;
  }

  div.place-caption {
    float: none;
    width: 100%;
    border-radius: 6px;
  }
}

table.bgh-place-event-schedule {
  th.bgh-place-event-none {
    border-top: none !important;
    border-left: none !important;
  }
}

div.buttons {
  margin-top: 15px;
}
