<div class='bgh-event-day'>
  <% if day.date %>
    <% cls = 'day' %>
    <% cls << ' sat' if day.date.saturday? %>
    <% cls << ' sun' if day.date.sunday? %>
    <%= content_tag :span, day.date.mday, class: cls %>
    <hr class='separator' size='1'>
  <% end %>
  <% if day.events %>
    <div class='bgh-events'>
      <% day.events.take(3).each do |event| %>
        <%= link_to event_path(event) do %>
          <div class='hidden-xs'><%= event.abbreviation || event.name  %></div>
          <div class='visible-xs-block'><%= event.name %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
