<table class='table table-striped'>
  <tr>
    <td class='bgh-table-label'> Date </td>
    <td> <%= @event.event_date %> </td>
  </tr>
  <tr>
    <td class='bgh-table-label'> Comment </td>
    <td> <%= @event.comment %> </td>
  </tr>
  <tr>
  	<td class='bgh-table-label'> Place </td>
    <td> <%= link_to(@event.place.name, @event.place ) if @event.place %> </td>
  </tr>
</table>
