<div class="title">Events</div>

<table class='datalist'>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Comment</th>
  <% @events.each do |event| %>
	<tr>
    <td><%= link_to event.name, event_path(event) %></td>
		<td><%= event.event_date %></td>
		<td><%= event.comment %></td>
	</tr>
<% end %>
</table>
