<div class="field">
  <table>
    <tr>
      <td> Title </td>
      <td> <%= @event.name %> </td>
    <tr>
    <tr>
      <td> Date </td>
      <td> <%= @event.event_date %> </td>
    <tr>
    <tr>
      <td> Comment </td>
      <td> <%= @event.comment %> </td>
    <tr>
  </table>
</div>
<div class="field">
</div>
<div class="field">
</div>
