@import 'masonry-grid';

.bgh-contents-area {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
}

table.detail-table {
  table-layout: auto;
}

td.merged-cell {
  border: $table-border-color 1px solid;
  background-color: $bgh-accent-light;
  text-align: center;
  vertical-align: center !important;
}

td.bgh-table-label  {
  white-space: nowrap;
  width: 1px;
  text-align: right;
  font-weight: bold;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

div.main > div.alert {
  margin: 10px 0px;
}

div.bgh-accent-bg {
  background-color: $bgh-accent-light;
  border: 1px $gray-lighter solid;
}

div.bgh-accent-bg-trans {
  @extend div.bgh-accent-bg;
  background-color: transparentize($bgh-accent-light, 0.2);
}

.light-bordered {
  border: 2px $gray-lighter solid;
  border-collapse: collapse;
}

.field_with_errors {
  @extend .has-error;
}

.bgh-error-msg {
  margin-left: 15px;
}

table.bgh-event-calendar thead {
  background-color: $bgh-accent-light;
}

form.button_to, .button_to div { display: inline; }

#error_explanation {
  width: 80%;
  border: solid $brand-danger;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    background-color: $brand-danger;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
