@import "bootstrap/variables";

// For mobile view
@media (max-width: $screen-xs-max) {
  .grid-item, .grid-sizer {
    float: left;
    width: 32%;
    padding: 0.5%;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }

  .grid-item--2x {
    float: left;
    width: 64%;

    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}

// for Other view
@media (min-width: $screen-xs-max + 1) {
  .grid-sizer, .grid-item {
    width: 19%;
    float: left;
  }

  .grid-item {
    padding: 0.5%;
  }

  .grid-item--2x {
    width: 38%;
  }

  .grid-item--3x {
    width: 57%;
  }
}
