/* SASS / Social Media Brand Colors */
$color-twitter: #00aced !default;
$color-facebook: #3b5998 !default;
$color-googleplus: #dd4b39 !default;
$color-youtube: #bb0000 !default;
$color-instagram: #517fa4 !default;
