$gray-extra-lighter:     #fafafa;
$body-bg:               $bgh-background;
$table-bg-accent:               $gray-extra-lighter;

$navbar-inverse-bg:                         $bgh-main-tone-color;
$navbar-inverse-link-color:                 $bgh-background;
$navbar-inverse-brand-hover-color:          $bgh-accent-color;

$link-color: #444 !default;


$border-radius-base: 2px;
$border-radius-large: 3px;
$border-radius-small: 1px;
