/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require_tree ./models
 */

@import "bootstrap-sprockets";
@import "bootstrap/variables";
@import "bootstrap-custom";

$bgh-main-tone-color: #ddd;
$bgh-accent-color: $gray-base;
$bgh-background: #ffffff;
$bgh-accent-light: $gray-lighter;

@import "application-base";
