$bgh-main-tone-color: black;
$bgh-accent-color: #dd0000;
$bgh-background: #ffffff;
$bgh-accent-light: #f5e8e8;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "common";
