/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require typeahead
 *= require_tree ./models
 */

$bgh-main-tone-color: #26242d;
$bgh-accent-color: #004E85;
$bgh-background: #ffffff;
$bgh-accent-light: #f5f5f5;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "application-base";
