$bgh-main-tone-color: #00214B;
$bgh-accent-color: #AC0107;
$bgh-background: #f7f7f7;
$bgh-accent-light: #efefef;
$brand-primary: #5AB0E9;

$link-color: $bgh-main-tone-color;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "common";
