$bgh-main-tone-color: #FFE400;
$bgh-accent-color: black;
$bgh-background: #ffffff;
$bgh-accent-light: lighten(yellow, 40%);
$brand-primary: darken($bgh-main-tone-color, 10%);

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "common";
