/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require_tree ./models
 */

$bgh-main-tone-color: red;
$bgh-accent-color: pink;
$bgh-background: #ffffff;
$bgh-accent-light: #fff8f8;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "application-base";
