/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require typeahead
 *= require_tree ./models
 */

$bgh-main-tone-color: #FFE400;
$bgh-accent-color: black;
$bgh-background: #ffffff;
$bgh-accent-light: lighten(yellow, 40%);

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "application-base";
