/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require typeahead
 *= require_tree ./models
 */

$bgh-main-tone-color: blue;
$bgh-accent-color: yellow;
$bgh-background: #ffffff;
$bgh-accent-light: #F0F9FE;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "application-base";
