/*
 *= require jquery-ui/datepicker
 *= require landing-page
 *= require typeahead
 *= require_tree ./models
 */

$bgh-main-tone-color: #00214B;
$bgh-accent-color: #AC0107;
$bgh-background: #f7f7f7;
$bgh-accent-light: #efefef;

@import "bootstrap-sprockets";
@import "variable-base";
@import "bootstrap-custom";
@import "application-base";
